.results {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: left;
  background-color: var(--dark-footer);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-self: center;
  z-index: 1;
  max-height: 200px;
  overflow: auto;
  border-radius: 20px;
}

.resultItem {
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.resultItem:hover {
  background-color: var(--red);
}
