.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  align-items: center;
  max-width: 500px;
  margin: 20px auto;
}

.form:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}

input,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--dark-footer);
  background: transparent;
}

button {
  width: 50%;
}

label {
  display: block;
  text-align: left;
  width: 100%;
  margin: 5px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionOne img {
  width: 100px;
  height: auto;
}

.sectionOne,
.sectionTwo {
  width: fit-content;
  margin: 20px;
}

@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .sectionOne {
    border-right: 5px double var(--dark-footer);
    width: 50%;
    padding: 50px;
  }
}
