.backgroundImg {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 50vh;
  background-attachment: fixed;
}

.productImg {
  width: 5em;
  height: auto;
}

.products > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.seeMore {
  display: flex;
  justify-content: center;
  padding: 20px;
}
