.card {
  border: 1px solid var(--border-box);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: auto;
}

.cardBody {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.productTitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.productPrice {
  font-size: 16px;
  color: var(--dark-footer);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.priceContainer {
  display: flex;
  justify-content: center;
  min-height: 50px;
}

.strikethrough {
  text-decoration: line-through;
  color: #999;
}

.discountPriceContainer {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
