nav {
  display: flex;
  justify-content: space-around;
  color: var(--black-text);
  background-color: rgba(250, 250, 250, 0.5);
  width: 100%;
  font-family: "Hind";
  z-index: 1;
  position: relative;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

nav ul a:active {
  text-decoration: underline;
}

nav ul a:hover {
  background-color: var(--soft-peach);
}

.logoImg {
  height: 50px;
  width: auto;
}

.shoppingCart,
.searchIcon {
  width: 20px;
  height: 20px;
}

.shoppingCart span:nth-child(1) {
  font-size: 2rem;
  color: var(--white);
}

.shoppingCart span:nth-child(2) {
  padding: 0 3px;
  background-color: var(--soft-peach);
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -15px;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--soft-peach);
  color: var(--white);
  font-weight: bold;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 0.75rem;
}
