nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  color: var(--black-text);
  background-color: var(--white);
  width: 100%;
  font-family: "Hind";
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav ul a:active {
  background-color: blueviolet;
}

nav ul a:hover {
  background-color: aqua;
}

.logoImg {
  height: 50px;
  width: auto;
}

.shoppingCart,
.searchIcon {
  width: 20px;
  height: 20px;
}

.searchSection {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--dark-footer);
  margin: 0.5rem;
  border-radius: 50px;
}

.searchSection input {
  padding: 5px;
  background: transparent;
  border: none;
  outline: 0;
  max-width: 200px;
  color: var(--white);
  font-size: 15px;
}

.searchIcon {
  justify-self: center;
  cursor: pointer;
  font-weight: bold;
}

.searchSection input::placeholder {
  color: var(--white);
}
