nav {
  display: flex;
  justify-content: space-between;
  color: var(--black-text);
  background-color: rgba(250, 250, 250, 0.5);
  font-family: "Hind";
  z-index: 1;
  position: relative;
  padding: 0 20px;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-family: "Anton";
}

nav ul a:active {
  text-decoration: underline;
}

nav ul a:hover {
  background-color: var(--soft-peach);
}

.logoImg {
  height: 50px;
  width: auto;
}

.shoppingCart,
.searchIcon {
  width: 20px;
  height: 20px;
}

.shoppingCart {
  position: relative;
}

.cartCount {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--dark-footer);
  color: var(--white);
  font-weight: bold;
  border-radius: 50%;
  padding: 0 5px;
  font-size: 0.75rem;
  z-index: 1;
}
