.searchSection {
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  background: var(--dark-footer);
  margin: auto;
  border-radius: 50px;
  max-width: 200px;
}

.searchSection input {
  position: relative;
  padding: 2px;
  background: transparent;
  border: none;
  outline: 0;
  max-width: 200px;
  color: var(--white);
  font-size: 15px;
}

.searchIcon {
  justify-self: center;
  cursor: pointer;
  font-weight: bold;
}

.searchSection input::placeholder {
  color: var(--white);
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin: auto;
}
