#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Hind";
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.readMore,
.send,
.addToCartButton {
  background-color: var(--dark-footer);
  color: var(--white);
  padding: 5px 10px;
  margin: 20px;
  border: 2px solid var(--border-box);
  border-radius: 20px;
}

.readMore:hover,
.send:hover {
  background-color: transparent;
  color: var(--dark-footer);
  box-shadow: 2px 2px 5px var(--dark-footer);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
