body {
  margin: 0;
  background-color: var(--soft-peach);
  height: 100vh;
}

:root {
  --black-text: #000;
  --white: #ffffff;
  --dark-footer: rgb(41, 38, 38);
  --soft-peach: bisque;
  --border-box: #c7c4c4;
  --red: #ff0000;
  --green: #00eb4e;
  --half-transparent-bg: rgba(41, 38, 38, 0.5);
}
