body {
  margin: 0;
  background-color: var(--soft-peach);
  height: 100vh;
}

:root {
  --black-text: #000;
  --white: #ffffff;
  --dark-footer: #292626;
  --soft-peach: bisque;
  --border-box: #ddd;
  --red: #ff0000;
  --green: #00eb4e;
}
