.cartProduct {
  display: flex;
  align-items: center;
  margin: 20px;
  border-bottom: solid 2px var(--dark-footer);
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.productDetails {
  flex-grow: 1;
}

.productPricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strikethrough {
  text-decoration: line-through;
  color: #999;
}

.discountedPrice {
  color: #ff0000;
}

@media (max-width: 600px) {
  .cartProduct {
    flex-direction: column;
    align-items: center;
  }

  .productImage {
    width: 120px;
    height: 120px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .productDetails {
    width: 100%;
    margin-bottom: 10px;
  }

  .productPricing {
    flex-direction: column;
    align-items: center;
  }

  .strikethrough,
  .discountedPrice {
    font-size: 0.9rem;
  }
}
